.newpost{
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    /* overflow: hidden; */
}

.user{
    display: flex;
    align-items: flex-start;
}

.user-id{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    gap: 8px;
}

img {
    width: 52px;
    height: 52px;
    margin-left: 4px;
}

aside{
    margin-top: 40px;
    position: sticky;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.suggestions{
    display: flex;
    gap:57px;
}

.card-suggest {
    margin: 63px 0 0 4px;
}
 .posts {
    margin: 40px 0 0 4px;
 }
 .post ul{
    display: flex;
    flex-direction: column;
 }
 .card-post{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
 }

 .open-like{
    display: flex;
    margin:32px 0 50px 0;
 }

 .like{
     display: flex;
     align-items: center;
     gap: 7px;
     margin-left: 20px;
    }
    .like img{
       width: 22.76px;
       height: 20px;
    }
    .wrapper-close{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        margin-left: 14px;
    }
    .close-button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 320px;
        margin-top: -80px;
        padding: 17px;
        background-color: var(--color-grey-5);
        color:var(--color-grey-3);
        border-radius: 50%;
        height: 0px;
        width: 13px;
        cursor: pointer;
    }
    @media (min-width:780px){
        .container{
            position: absolute;
            right: 33vw;
        }

        aside{
            position: fixed;
            /*margin-*/left: 75vw;
            top: 88px;
            min-width: 20vw;
        }
        .suggestions{
            flex-direction: column;
        }
        .navbar p{
            margin-right: 100px;
        }
        .card-suggest{
            display: flex;
            justify-content:space-between;
        }


    }