.navbar{
    background-color: var(--color-grey-1);
    padding: 1.75rem 0;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 1;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color:var(--color-white-fixed);
    margin-left: 20px;
    font-weight: 500;
}

.navbar p{
    width: 26px;
    height: 16px;
    color: var(--color-white-fixed);
    margin-right: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.navbar-links{
    display: flex;
    gap: 1rem;
}

.navbar-link{
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}